<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>WebApp</a>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
         
          <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Blog
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" [routerLink]='["/blog"]'>Blog overview</a>
              <a class="dropdown-item" href="#" [routerLink]='["/blog/add"]'>Add blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Admin</a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a *ngIf="!isLoggedIn()" class="nav-link text-dark" (click)="login()">Login</a>
            <a *ngIf="isLoggedIn()" class="nav-link text-dark" (click)="logout()">Logout</a>
          </li>
        </ul>
    </div>
  </nav>
</header>
