<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
    <a class="navbar-brand" [routerLink]="['/blog']" routerLinkActive="active" >Menu</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/blog']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a *ngIf="!isLoggedIn()" class="nav-link" (click)="login()">Login</a>
          <a *ngIf="isLoggedIn()" class="nav-link" (click)="logout()">Logout</a>
        </li>
        <div *ngIf="isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <ul class="dropdown-menu dropdown-info" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-header">Blog administration</li>
            <a class="dropdown-item" [routerLink]="['/blog/add']" routerLinkActive="router-link-active">Toevoegen blog</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog overview</a>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
  <!-- <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>WebApp</a>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
         
          <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Blog
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" [routerLink]='["/blog"]'>Blog overview</a>
              <a class="dropdown-item" href="#" [routerLink]='["/blog/add"]'>Add blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Admin</a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a *ngIf="!isLoggedIn()" class="nav-link text-dark" (click)="login()">Login</a>
            <a *ngIf="isLoggedIn()" class="nav-link text-dark" (click)="logout()">Logout</a>
          </li>
        </ul>
    </div>
  </nav> -->
</header>
