<h1 class="my-4">blog list</h1>

<div *ngFor="let item of items">
  <div class="card mb-4">
    <img class="card-img-top" src="http://placehold.it/750x300" />
  
    <div class="card-body">
      <h3>{{item.title}}</h3>
      <p class="card-text">
        {{item.introduction}}
      </p>
      <a href="" class="btn btn-primary">Read more</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{item.dateCreated}} by {{item.author}}
    </div>
  </div>
</div>
<div>
    <pagination [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage" [totalItems]="pagination.totalItems"></pagination>

</div>
