<div class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h2 class="blog-post-title">
        test
      </h2>
      <p class="blog-post-meta">January 1, 2014 by </p>
      <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
      <hr>
      <p>
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
      </p>
    </div>
    <div class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        tesadasd
      </div>
    </div>
  </div>
</div>