<h1 class="my-4">add blog</h1>
<div class="card mb-4">
  <div class="card-body">
    <form [formGroup]="addBlogForm" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="inputTitle"
          placeholder="Enter title"
        />
        
      </div>
      <div class="form-group">
        <label for="introduction">Introduction</label>
        <input
          type="text"
          class="form-control"
          id="introduction"
          formControlName="inputIntro"
          placeholder="Enter introduction"
        />
        
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          class="form-control"
          id="author"
          formControlName="inputAuthor"
          placeholder="Enter author"
        />
      </div>
      <div class="form-group">
        <label for="author">Text</label>
        <kendo-editor formControlName="inputText" (valueChange)="valueChange($event)" style="height: 400px;"></kendo-editor>

      </div>
      <a href="" class="btn btn-primary">Save blog</a>
    </form>
  </div>
</div>
