<form class="k-form" [formGroup]="addBlogForm" (ngSubmit)="saveForm()" novalidate>
  <label class="k-form-field">
      <span>
        Title  <span class="k-field-info k-required">required</span>
      </span>
      <input class="k-textbox" formControlName="txtTitle" placeholder="Title" />
  </label>

  <label class="k-form-field">
      <span>
        Introduction <span class="k-field-info k-required">required</span>
      </span>
      <input class="k-textbox" formControlName="txtIntro" placeholder="Introduction" />
  </label>

  <label class="k-form-field">
      <span>
        Author <span class="k-field-info k-required">required</span>
      </span>
      <input class="k-textbox" formControlName="txtAuthor" placeholder="Author" />
  </label>

  <label class="k-form-field">
    <span>
     Content <span class="k-required">required</span>
    </span>
    <kendo-editor style="height: 300px" formControlName="txtContent" [value]=""></kendo-editor>
</label>

  <button class="k-button k-primary">Opslaan</button>
</form>
<!--
<form [formGroup]="addBlogForm" (ngSubmit)="saveForm()" novalidate>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="inputTitle" formControlName="txtTitle" placeholder="Enter title">
    <div *ngIf="addBlogForm.get('txtTitle').errors?.required" style="color:red; font-size: small">
      Please choose a title.
    </div>
    <div *ngIf="addBlogForm.get('txtTitle').errors?.minlength" style="color:red; font-size: small">
      Title must be greater than 2 characters.
    </div>
  </div>
  <div class="form-group">
    <label for="inputIntro">Title</label>
    <input type="text" class="form-control" id="inputIntro" formControlName="txtIntro" placeholder="Enter introduction">
    <div *ngIf="addBlogForm.get('txtIntro').errors?.required" style="color:red; font-size: small">
      Please choose a introduction.
    </div>
  </div>
  <div class="form-group">
    <label for="inputContent">Title</label>
    <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }" id="inputContent" formControlName="txtContent" data="<p>Hello, world!</p>"></ckeditor>
    <div *ngIf="addBlogForm.get('txtContent').errors?.required" style="color:red; font-size: small">
      Please choose a content.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
