<div class="col-xl-8 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">My account</h3>
        </div>
        <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Settings</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form
        class="k-form"
        [formGroup]="addBlogForm"
        (ngSubmit)="saveForm()"
        novalidate
      >
        <label class="k-form-field">
          <span>
            Title <span class="k-field-info k-required">required</span>
          </span>
          <input
            class="k-textbox"
            formControlName="txtTitle"
            placeholder="Title"
          />
        </label>

        <label class="k-form-field">
          <span>
            Introduction
            <span class="k-field-info k-required">required</span>
          </span>
          <input
            class="k-textbox"
            formControlName="txtIntro"
            placeholder="Introduction"
          />
        </label>

        <label class="k-form-field">
          <span>
            Author <span class="k-field-info k-required">required</span>
          </span>
          <input
            class="k-textbox"
            formControlName="txtAuthor"
            placeholder="Author"
          />
        </label>

        <label class="k-form-field">
          <span> Content <span class="k-required">required</span> </span>
          <kendo-editor
            style="height: 300px"
            formControlName="txtContent"
            [value]=""
          ></kendo-editor>
        </label>

        <button class="k-button k-primary">Opslaan</button>
      </form>
    </div>
  </div>
</div>
